*.class
*.jar
.cpcache/
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/.lein-*
/.nrepl-port
/checkouts/
/classes/
/lib/
/target/
config.edn
pom.xml
pom.xml.asc
profiles.clj
